* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 5px;
}

header {
    margin: 10px;
}

form {
    margin: 20px;
    padding: 10px;

}

#js-state-name, #js-max-results {
    display: block;
    width: 50px;
    padding: 5px;
}

#js-state-name {
    margin-bottom: 20px;
}

#js-error {
    display: none;
}

.hidden {
    display: none;
}

#parks {
    list-style-type: none;
    padding: 5px;
}

 li {
     padding: 5px;
     margin-top: 10px;
 }

p, a {
    padding: 5px;
}